@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
    ViewBag.Send = "测试布局页的应用";
    ViewBag.Title = "Sway";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div>
        <h1>@ViewBag.Send</h1>
    </div>
</body>
</html>
